@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans;
}

html {
  font-size: 62.5%;
  /* 1rem=10px */
}

/*-----------------------------
 apply color
 ------------------------------ */

:root {
  --header: #6666ff;
  --pure-blue: #0000ff;
  --darkest: #00004c;
  --helper-color: rgb(209, 64, 245);
  --black: #000;
  --white: white;
  --grey: grey;
  --gradiant: linear-gradient(to left rgb(218, 67, 248), rgb(194, 90, 253));
}

#header {
  padding: 0 30px;
  height: 100px;
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.navbar-btn {
  font-size: 2rem;
  font-weight: 500;
  color: var(--black);
}
.home {
  color: white;
}

.navbar-btn:hover {
  color: var(--white);
  text-shadow: 0 3px 3px 0 rgb(236, 232, 232);
  transition: all 0.5 ease-in-out;
}

/*----------------------------------------
 reused able code 
 ----------------------------------------- */

h1 {
  font-size: 8rem;
  font-weight: 500;
  text-transform: uppercase;
}
h2,
h3 {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  font-family: "Roboto Mono", monospace;
  padding: 10px 15px;
  border: 2px solid #0a0a0a;
  background-color: var(--helper-color);
  border-radius: 10px;
  color: var(--black);
  font-size: 1.4rem;
}

.section {
  padding: 7rem 0;
}

.flex {
  max-width: 140rem;
  padding: 0 50px;
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
}

/* ---------------------------------
hero section
------------------------------------ */

.hero-flex-two-column {
  justify-content: space-between;
  align-items: center;
}
.hero-section-img-control {
  max-width: 60%;
}
.hero-section-img {
  display: flex;
  justify-content: center;
}
.hero-section-para {
  text-align: center;
}

.div-btn {
  text-align: center;
  padding: 20px 0;
}

.btn:hover {
  box-shadow: 1px 4px 4px var(--grey);
  transition: all 0.7 ease-in-out;
}

/* ---------------------------------
about section
------------------------------------ */

.about-flex-two-column {
  justify-content: space-between;
  align-items: center;
}

.about-section-img {
  min-width: 50%;
  text-align: center;
}
.about-section-img-control {
  min-width: 70%;
}
.about-section-para h2 {
  margin-top: 30px;
}

.bio-data-stats {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  gap: 3rem;
}
.bio-data h3 {
  font-size: 15px;
  font-weight: 400;
}
.bio-bar {
  width: 90%;
  height: 8px;
  background-color: var(--grey);
  border-radius: 10px;
  position: relative;
}

.bio-bar::before {
  content: "";
  background-color: var(--helper-color);
  width: 30%;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
}
.progres::before {
  width: 50%;
}
.progres-2::before {
  width: 50%;
}

.progres-3::before {
  width: 70%;
}

.progres-4::before {
  width: 20%;
}

.stats-data {
  max-width: 90%;
}

.bio-bar span {
  width: 20px;
  height: 15px;
  background-color: var(--helper-color);
  position: absolute;
  left: 28%;
  top: 10px;
  border: none;
  outline: none;
}

.progres span {
  left: 48%;
}
.progres-2 span {
  left: 48%;
}
.progres-3 span {
  left: 48%;
}
.progres-4 span {
  left: 48%;
}
.progres span {
  left: 48%;
}
